.header__container {
    padding-top: 24.3525pt;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav a {
      padding-left: 20px;
  }
  
  .nav h3 {
    color: #F1E8E8;
    font-size: 24px;
    font-weight: 600;
  }
  
  .nav__basket h3 {
    width: 60px;
    text-align: center;
  }
  
  .nav__basket {
    position: relative;
    cursor: pointer;
  }
  
  .nav__basket img {
    width: 100%;
  }
  
  .basket-radius {
    width: 18px;
    height: 18px;
    background: #D25353;
    border-radius: 100%;
    position: absolute;
    top: -4px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
  }

  @media all and (max-width: 380px) {
    .nav h3 {
      color: #F1E8E8;
      font-size: 33px;
    }
  }